/* NOTE: do not update original yellow pages style, modify this file instead */
#search-form input {
    font-size: 2em;
    padding: 5px 0 0 10px;
}

.custom-button {    
    color: #ffffff;
    padding: 5px 20px;
    background: #ffd500;
    cursor: pointer;
    font-family: verdana,arial,helvetica,sans-serif;
    font-size: 18px;
}

#data #file {
    position: relative;
    z-index: 2;
    filter: alpha(opacity:0);
}

#data .file-upload #filename {
    width: 170px;
}

#navigation {
    margin-left: -1px !important;
}

/*
#data .file-upload .custom-button {
    height: 38px;
}
*/